.App{
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
}
.data-container {
  display: flex;
  justify-content: center;
}

.data-table {
  border-collapse: collapse;
  width: 70%;
  margin-top: 20px; 
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-header {
  font-weight: bold;
}

